.menu {
  align-items: center;
  display: flex;
}

.menu button {
  background-color: transparent;
  border: 0;
}

button img {
  width: 55px;
}

@media (max-width: 1440px) {
  .menu {
    width: 90%;
  }

  button img {
    width: 55px;
  }
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}

@media (max-width: 320px) {
  .menu {
    width: 80%;
  }
}
