.skills-div {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.skills-div .cards-skills-div {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  top: -50px;
}

.skills-div .skills-filter-div {
  margin-top: 20px;
}

.skills-div .cards-projects-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

@media (max-width: 1440px) {
  .content {
    min-height: 600px;
  }

  .skills-div {
    width: 80%;
  }

  .skills-div img {
    width: 400px;
  }

  .skills-div .cards-skills-div {
    margin-top: 40px;
    width: 90%;
  }

  .skills-filter-div .filter-button {
    font-size: 14px;
  }
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}
