.skills-div {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.skills-div .cards-skills-div {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  top: -50px;
}

.skills-div .skills-filter-div {
  margin-top: 20px;
}

.skills-div .cards-projects-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.filter-projects-div .filter-skills-div {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  max-width: 100%;
  padding: 1px;
}

.filter-skills-div .skill {
  background-color: cadetblue;
  border-radius: 12px;
  margin: 8px;
  padding: 3px;
}

.skill .delete {
  background-image: url('../../../public/x.png');
  background-size: 100%;
  height: 13px;
  width: 13px;
  position: relative;
  left: 100%;
  top: -100%;
}

@media (max-width: 1440px) {
  .content {
    min-height: 600px;
  }

  .skills-div {
    width: 80%;
  }

  .skills-div img {
    width: 400px;
  }

  .skills-div .cards-skills-div {
    margin-top: 40px;
    width: 90%;
  }

  .skills-filter-div .filter-button {
    font-size: 14px;
  }
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}
