.skills-div {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.skills-div h1 {
  color: #1a1a1a;
}

.skills-div h2 {
  color: #1a1a1a;
  position: relative;
  top: -25px;
}

.skills-div .cards-skills-div {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: -20px;
}

@media (max-width: 320px) {
  .skills-div h1 {
    font-size: 22px;
  }

  .skills-div h2 {
    font-size: 14px;
  }

  .skills-div .cards-skills-div {
    max-width: 300px;
  }
}
