body {
  border: 0;
  margin: 0;
  padding: 0;
}

@media (max-width: 425px) {
  #root {
    width: 425px;
  }
}

@media (max-width: 375px) {
  #root {
    width: 375px;
  }
}

@media (max-width: 360px) {
  #root {
    width: 320px;
  }
}
