.card {
  align-items: center;
  background-color: rgb(247, 245, 245);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: center;
  margin: 2px;
  padding: 6px;
}

.card h3,
span {
  font-size: 12px;
}

.card .tags {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 2px;
}

.tags .types {
  border-radius: 4px;
  color: aliceblue;
  margin: 2px;
  padding: 2px;
}

.types.Academic {
  background-color: rgba(9, 170, 9, 0.767);
}

.types.Professional {
  background-color: rgba(35, 35, 165, 0.815);
}

.tags .at {
  background-color: rgba(105, 105, 105, 0.829);
  border-radius: 4px;
  color: aliceblue;
  margin: 2px;
  padding: 2px;
}

@media (max-width: 768px) {
  .card {
    height: 60px;
  }

  .card h3,
  span {
    font-size: 14px;
  }
}

@media (max-width: 425px) {
  .card {
    height: 30px;
  }

  .card h3,
  span {
    font-size: 8px;
  }
}
