.card {
  align-items: center;
  background-color: rgb(247, 245, 245);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: center;
  margin: 2px;
  padding: 6px;
}

.card h3,
span {
  font-size: 12px;
}

.card .tags {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 2px;
}

.tags .types {
  border-radius: 4px;
  color: aliceblue;
  margin: 2px;
  padding: 2px;
}

.types.Academic {
  background-color: darkgreen;
}

.types.Professional {
  background-color: midnightblue;
}

.tags .at {
  background-color: dimgray;
  border-radius: 4px;
  color: aliceblue;
  margin: 2px;
  padding: 2px;
}
