.languages-div .language-button {
  border: 0;
  font-family: julius 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.language-button.selected {
  font-family: bold;
  border-bottom: 1px solid black;
}

@media (max-width: 1440px) {
  .button-selected {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  .button-selected {
    font-size: 10px;
  }

  .languages-div .language-button {
    font-size: 12px;
  }
}

@media (max-width: 320px) {
  .button-selected {
    font-size: 10px;
  }
}
