.skills-filter-div {
  display: flex;
  justify-content: center;
  margin: 5px;
  position: relative;
  top: -25px;
}

.skills-filter-div button {
  background-color: transparent;
  border: 0;
  margin: 2px;
}

@media (max-width: 1440px) {
  .filter-button {
    font-size: 30px;
  }
}

@media (max-width: 320px) {
  .skills-filter-div bottom {
    font-size: 10px;
  }
}
